{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% block content %}
    <h2>Направьте опросник, выбрав необходимого пользователя и департамент</h2>
    {% for i in all_users %}
        {% if i.activating == 'NOT_ACTIVE' %}
        <div class="sender">
            <b>Логин пользователя:</b> {{ i.username }}. <b>Департамент:</b> {{ i.department }}
        <form action="{% url 'send_review' i.pk %}" method="post"> {% csrf_token %}

            <button class="index-stats-button" type="submit">Отправить опросник</button>

        </form>
        </div>
        {% endif %}
    {% empty %}
    <h2>Здесь пусто</h2>
    {% endfor %}
{% endblock %}