<div class="col-md-3">
        <div class="card" style="margin-top: 2rem">
            <div class="card-body">
                <h5 class="card-title">Фильтрация</h5>
                <form method="get">
                    <div class="mb-3">
                        <label for="department" class="form-label">Департамент</label>
                        <select class="form-select" id="department" name="department">
                            <option value="">Все департаменты</option>
                            {% for department in DepartmentChoice %}
                            <option value="{{ department.0 }}" {% if selected_department == department.0 %}selected{% endif %}>
                                {{ department.1 }}
                            </option>
                            {% endfor %}
                        </select>

                        <label for="title" class="form-label">Проверка</label>
                        <select class="form-select" id="title" name="title">
                            <option value="">Все проверки</option>
                            {% for name in reviews %}
                            <option value="{{ name.title }}" {% if selected_name == name.title %}selected{% endif %}>
                                {{ name.title }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Применить</button>
                    <a href="{% url 'index' %}" class="btn btn-danger">Сбросить</a>
                </form>
            </div>
        </div>
    </div>